body {

    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #f5feff;
    margin: 0%;

}
p{
    margin-left: 200px;
    margin-right: 200px;
}

.navheader{

    display: flex;
    height: 320px;
    padding: 44px 75px;
    justify-content: center;
    align-items: center;
    gap: 111px;
    align-self: stretch;
    background: #43E9FB;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    flex: 1 0 0;
}

.topName{

    max-width: 457px;
    flex: 1 0 0;

    color: #15008F;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.divLine{

    width: 5px;
    height: 160px;
    background: #000;
}

.about-me{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex: 1 0 0;
}

.firstbutton {

    flex: 1 0 0;
    color: #15008F;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mic-icon{

    width: 93px;
    height: 93px;
    border-radius: 93px;
    background: url("26321.png") #43E9FB 5px 5px / 89.247% 89.247% no-repeat;
}

.art-work{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.secondbutton {

    flex: 1 0 0;
    color: #15008F;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.brush-icon{

    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: url("587377.png") #43E9FB 13.5px 13.5px / 75.455% 75.455% no-repeat;
}

.coding-projects{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.thirdbutton {
    
    flex: 1 0 0;
    color: #15008F;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comp-icon{

    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: url("59505.png") #43E9FB 13.5px 13.5px / 75.455% 75.455% no-repeat;
}

.nextpage:link {
    
    color: #15008F;
    background-color: transparent;
    text-decoration: none;
}
.nextpage:visited {
    
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
.nextpage:hover {
    
    color: green;
    background-color: transparent;
    text-decoration: underline;
}
.nextpage:active {
    
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding: 50;
    color: midnightblue;
    font-family: "Trebuchet MS", sans-serif;
}

h2 {
    text-align: center;
    font-size: 50px;
    padding: 50;
    color: midnightblue;
    font-family: "Trebuchet MS", sans-serif;
}

h3 {
    text-align: center;
    font-size: 30px;
    padding: 50;
    color: midnightblue;
}

h4 {
    text-align: left;
    font-size: 25px;
    padding: 70;
    color: midnightblue;

}

.titlePage{

    display: flex;
    padding: 1px 0px;
    margin-left: 16%;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.topTitle{

    flex: 1 0 0;
    color: midnightblue;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-size: 20px;
    color: midnightblue;
}

a {
    font-size: 20px;
    color: blue;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    padding-left: 100px;

}

.row::after{
    content: "";
    clear: both;
    display: table;
}

/* Index */
.welcome{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.wel-title{

    align-self: stretch;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conOne{

    display: flex;
    margin-left: 16%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.conMe-one{

    display: flex;
    height: 76px;
    flex-direction: row;
    justify-content: start;
    flex: 1 0 0;

    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welImg{

    display: flex;
    max-width: 877px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: center;
    padding-top: 10px;
}

.startImg{

    height: 655.996px;
    align-self: stretch;
    aspect-ratio: 877.00/656.00;
    background: url("IMG_6673.JPEG") lightgray 50% / cover no-repeat;
}

.pars{

    display: block;
    flex-direction: column;
    align-items: flex-start;
    gap: 121px;
    align-self: stretch;
}

.wel-par{

    display: block;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.par-one{


    flex: 1 0 0;

    
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1px;
}

.pic-row{

    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 121px;
    align-self: stretch;
    flex-wrap: wrap;
}

.pro-one{

    height: 522px;
    max-width: 522px;
    min-width: auto;
    flex: 1 0 0;
    background: url("profile_one.jpg") lightgray 50% / cover no-repeat;
}

.pro-two{

    height: 522px;
    max-width: 630px;
    min-width: auto;
    flex: 1 0 0;
    background: url("profile_two.jpg") lightgray 50% / cover no-repeat;
}

.closing-par{

    display: block;

    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.last-par{


    flex: 1 0 0;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot{

    display: flex;
    height: 120px;
    padding: 44px 75px;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    background: #43E9FB;
}

.gmail-icon{

    height: 53px;
    max-width: 53px;
    flex: 1 0 0;
    border-radius: 53px;
    background: url("gmail_logo.png") #43E9FB 50% / cover no-repeat;
}

.linked-icon{

    height: 45px;
    max-width: 45px;
    flex: 1 0 0;
    border-radius: 45px;
    background: url("717416.png") #43E9FB 50% / cover no-repeat;
}

.git-icon{

    height: 53px;
    max-width: 53px;
    flex: 1 0 0;
    border-radius: 53px;
    background: url("github.png") #43E9FB 50% / cover no-repeat;
}


/* Contact Page */

.contact-body{

    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 95px;
    margin: 0%;
}

.info-card{

    display: flex;

    max-width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-content: center;
    /*margin-left: 30%;
    margin-right: 30%;*/

    border-radius: 20px;
    border: 2px solid #000;
    background: #caf7fc;

    width: 100%;
}

.link-list{

    display: flex;
    max-width: 642px;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    padding-left: 4px;
}

.gmail-icon-two{

    width: 106px;
    height: 106px;
    max-width: 106px;
    border-radius: 106px;

    background: url("gmail_logo.png") #caf7fc 50% / cover no-repeat;
}

.gmail-link{

    display: flex;
    align-items: center;
    gap: 36px;
    align-self: stretch;
    border-bottom: 2px solid #000;

}

.my-email{

    display: flex;
    height: 166px;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.linked-icon-two{

    height: 98px;
    max-width: 98px;
    max-height: 98px;
    flex: 1 0 0;
    aspect-ratio: 1/1;
    border-radius: 98px;
    background: url("717416.png") #caf7fc 50% / cover no-repeat;
}

.linkedin-link{

    display: flex;
    align-items: center;
    gap: 44px;
    align-self: stretch;
    border-bottom: 2px solid #000;
}

.my-linked{

    display: flex;
    height: 166px;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.github-link{

    display: flex;
    align-items: center;
    gap: 36px;
    align-self: stretch;
}

.git-icon-two{

    height: 98px;
    max-width: 98px;
    flex: 1 0 0;
    border-radius: 98px;
    aspect-ratio: 1/1;
    background: url("github.png") #caf7fc 50% / cover no-repeat;
}

.my-github{

    display: flex;
    height: 166px;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game-card{

    display: flex;

    max-width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    align-content: center;
    
    border-radius: 20px;
    border: 2px solid #000;
    background: #E97373;

    width: 100%;
}

.game-link{

    display: flex;
    height: 240px;
    max-width: 642px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    align-self: stretch;

}

.heart-beat{

    display: flex;
    height: 205px;
    align-items: center;
    align-content: center;
    gap: 25px;
    flex-shrink: 0;
    align-self: stretch;
    padding-left: 25px;
}

.game-img{

    height: 110px;
    max-width: 110px;
    max-height: 110px;
    flex: 1 0 0;
    aspect-ratio: 1/1;
    background: url("heartbeat.png") #E97373 50% / cover no-repeat;
}

.game-info{

    display: flex;
    height: 205px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
}

.game-header{

    display: flex;
    height: 68px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game-title{

    display: flex;
    height: 67px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hb-link{

    display: flex;
    height: 63px;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*.qr-code{

    width: auto;
    max-height: 867px;
    flex: 1 0 0;
    align-self: stretch;
    background: url("qrCode.png")  #f5feff 50% / cover no-repeat;
}*/