body {

    background-color: D4F1F5;

}

.navbar {

    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0px;
    position: absolute;
    background-color: blue;
}

.firstbutton {
    padding-left: 325px;
    float: left;
}

.secondbutton {
    padding-right: 300px;
    float: right;
}

.nextpage {
    padding: 5px;
    color: white;
    display: block;
    transition: 2ms;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding: 50;
    color: midnightblue;
    font-family: "Trebuchet MS", sans-serif;
}

h2 {
    text-align: center;
    font-size: 50px;
    padding: 50;
    color: midnightblue;
    font-family: "Trebuchet MS", sans-serif;
}

h3 {
    text-align: center;
    font-size: 30px;
    padding: 50;
    color: midnightblue;
}

h4 {
    text-align: left;
    font-size: 25px;
    padding: 70;
    color: midnightblue;

}

p {
    font-size: 20px;
    color: midnightblue;
}

a {
    font-size: 20px;
    color: blue;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    padding-left: 100px;

}

.row::after{
    content: "";
    clear: both;
    display: table;
}